.webplayer {
  align-items: center;
  display: flex;
  color: #E4E4D6;
  height: 100%;
  justify-content: center;
  width: 100%;
  main {
    align-items: flex-start;
    border: solid #fff 2px;
    display: flex;
    height: 40%;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    .playlist-container {
      align-self: flex-start;
      display: flex;
      justify-content: flex-end;
      justify-self: flex-end;
      padding: 1rem 2rem 0 0;
      width: 100%;
      span:hover {
        cursor: pointer;
      }
    }
    .player {
      justify-self: flex-start;
      height: 100%;
    }
    .playlist {
      height: 100%;
      .playlist-list {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        &:hover {
          cursor: pointer;
        }
        li {
          padding: .5rem;
          text-align: left;
          width: 100%;
        }
      }
    }
  }
}
.controls {
  span {
    padding: 1rem;
    &:hover {
      cursor: pointer;
    }
  }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}